/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    .full-page-intro {
        height: 1000px;
    }
}

/* Half Page Carousel itself*/
.carousel {
    height: 50%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

/* Navbar animation */
.navbar {
    background-color: rgba(0, 0, 0, 0.3);
}

.top-nav-collapse {
    background-color: #1C2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
    background-color: #1C2331;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        justify-content: flex-end;
    }
}

.contact-social {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 0.3rem;
    font-size: 3rem;
}

.contact-social li {
    margin-right: 15px;
    padding-left: 0;
    display: inline-block;
}

.contact-social li a {
    color: rgba(255, 255, 255, 0.6);
    border: none !important;
}

.contact-social li a:hover,
.contact-social li a:focus {
    color: #ffffff;
}

.contact-social li:last-child {
    margin: 0;
}